@model QFGreenBean.Models.StudentScheduleGenerator

@{
    ViewBag.Title = "Green Bean";
}

<p>
    <h2>Student Scheduler</h2>
</p>

<p>Student Scheduler is a tool to generate recommended student schedules in the coming year and subsequent years until graduation. The student schedules can be readjusted automatically to meet specific needs of a student.</p>
<p>Please enter your student number and other scheduling parameters.</p>

@using (Html.BeginForm())
{
    <table style="width:100%;">
        <tr>
            <td class="auto-style1">Student Number</td>
            <td>
                @Html.TextBoxFor(x => x.StudentNumber)
            </td>
        </tr>
        <tr>
            <td class="auto-style1">Term</td>
            <td>
                @Html.DropDownListFor(x => x.StartingSemester,
                                           new[] {new SelectListItem() { Text = "Fall 2015", Value = "Fall 2015" },
                                                  new SelectListItem() { Text = "Winter 2016", Value = "Winter 2016" },
                                                  new SelectListItem() { Text = "Summer 2016", Value = "Summer 2016" }
                                                 } )
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Department</td>
            <td>
                @Html.TextBoxFor(x => x.Department)
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Program Option</td>
            <td>
                @Html.TextBoxFor(x => x.ProgramOption)
            </td>
        </tr>

        <tr>
            <td class="auto-style1">Include a summer session</td>
            <td>
                @Html.CheckBoxFor(x => x.IncludeSummer)
            </td>
        </tr>

        <tr>
            <td class="auto-style1">&nbsp;</td>
            <td>
                <input type="submit" value="Generate Schedules" />
            </td>
        </tr>
    </table>
}

<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>  &nbsp;</p>
<p>* Note that the application is currently under development.</p>

